{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'calculation/css/all.css' %}">
	<link rel="icon" href="https://okgbi.ru/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <title>Панель управления</title>
    <style>
	    .loader {
            width: 75px;
            height: 75px;
            border: 0 solid #fff;
            border-radius: 50%;
            display: inline-block;
            box-sizing: border-box;
            position: fixed;
            animation: pulse 2s ease infinite;
            left: 55%;
            top: 46%;
            z-index: 100;
            fill: #2B6FB6;
        }

        .loader:after {
            content: '';
            position: fixed;
            width: 75px;
            height: 75px;
            border: 0 solid #fff;
            border-radius: 50%;
            display: inline-block;
            box-sizing: border-box;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            animation: scaleUp 1s linear infinite;
            z-index: 100;
        }


        @keyframes pulse {
            0%, 50%, 100% {
                opacity: 1;
                scale: 1.15;
                left: 58.5%;
            }
            25% {
                opacity: 0.5;
                scale: 1;
                left: 57%;
            }
            75% {
                scale: 1;
                left: 57%;
                opacity: 0.25;
            }
        }


        .dropdown-content a {
            color: black;
            padding: 8px 12px;
            text-decoration: none;
            display: block;
            text-align: center;
        }

        .dropdown-content a:hover {
            background-color: #f1f1f1;
        }
    </style>
</head>

<body>

<span class="loader" style="display: none">

	<svg style="scale: 2"
	     version="1.1"
	     preserveAspectRatio="xMidYMid meet"
	     xmlns="http://www.w3.org/2000/svg"
	     x="130px"
	     y="0px"
	     width="360px"
	     height="84px"
	     viewBox="77 -2 50 50"
	     style="enable-background:new 0 0 130 32;"
	     xml:space="preserve"><path d="M31.023,12.812l-5.527-5.931l3.976-4.142V1.181h-2.787l-2.258,1.836V1.154l-3.192,0.255l-0.076,0.057
c-1.783,1.392-2.995,2.333-3.615,2.817c-0.666-0.123-1.35-0.195-2.051-0.195c-2.877,0-5.601,1.12-7.658,3.017
C3.257,8.896,0,13.345,0,18.551c0,6.779,5.516,12.296,12.296,12.296c5.153,0,9.569-3.19,11.395-7.697
c-0.003,0.008-0.006,0.017-0.009,0.024c1.53-1.611,2.563-3.652,2.947-5.869l0.008,0.008L31.023,12.812z M23.874,7.83
c-0.142-0.156-0.279-0.315-0.428-0.463l5.369-5.083v0.191L23.874,7.83z M26.919,1.839h1.407l-5.369,5.084
c-0.271-0.24-0.554-0.466-0.847-0.678l2.317-2.379L26.919,1.839z M20.825,5.429l2.945-3.006v1.129l-2.21,2.316
C21.319,5.715,21.077,5.564,20.825,5.429 M21.478,2.05l1.886-0.15l-3.163,3.228c-0.607-0.28-1.244-0.504-1.904-0.673
C18.901,4.029,19.938,3.277,21.478,2.05 M12.296,26.898c-4.603,0-8.348-3.745-8.348-8.348c0-4.317,3.294-7.879,7.501-8.304
l-1.82,1.769H7.202v13.071h3.083v-3.389l3.335,3.389h3.769l-5.833-6.687l7.126-5.213c1.222,1.452,1.961,3.322,1.961,5.364
C20.643,23.153,16.898,26.898,12.296,26.898 M17.189,11.803c0.373,0.271,0.725,0.567,1.047,0.894l-5.393,3.945L17.189,11.803z
M16.089,12.015h-1.886l1.16-1.22c0.444,0.176,0.868,0.392,1.271,0.639L16.089,12.015z M10.285,15.071v-2.775l2.146-2.085
c0.782,0.012,1.538,0.131,2.254,0.346L10.285,15.071z M24.226,21.471c0,0.003-0.001,0.006-0.002,0.008
c0.231-0.94,0.367-1.918,0.367-2.928c0-6.78-5.516-12.295-12.295-12.295c-0.94,0-1.853,0.116-2.733,0.317
c0.001,0,0.002-0.001,0.003-0.001c1.727-1.162,3.782-1.825,5.928-1.825c5.873,0,10.65,4.778,10.65,10.65
C26.144,17.611,25.447,19.72,24.226,21.471 M24.27,8.279l0.867-0.854l4.978,5.375l-3.354,3.442c0.021-0.281,0.042-0.562,0.042-0.847
C26.802,12.701,25.851,10.224,24.27,8.279"></path></svg>
</span>
<div class="position-screen">
    <header class="con-header">
        <div class="position-blocks">
            <!-- Блок для печати -->
            <div class="con-print">
                <div class="header-con">
                    Печать план на день:
                </div>
                <form action="/generate-production-calendar/" target="_blank">
                    <div class="con-bnt-date">
                        <input type="date" name="date_print" id="datePrint"
                               class="style-date" value="{{ today|date:'Y-m-d' }}">
                        <div class="con-btn">
                            <button id="startPrint" class="style-btn">
                                <div class="con-img">
                                    <i class="fa fa-print" aria-hidden="true"></i>
                                </div>
                                <div class="style-text-btn">
                                    Печать
                                </div>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <!-- Статиксика -->
            <div class="con-statistica">
                <form action="">
                    <div class="position-statistica">
                        <div class="header-con">Статистика на сегодня:</div>
                        <ul class="position-list">
                            <li>Занято дорожек:<label for="" id="tracksToday"> {{ stats.tracks }} шт</label></li>
                            <li>Изготовления:<label for="" id="tiles"> {{ stats.plates }} плит</label></li>
                            <li>Занято:<label for=""
                                              id="occupiedMM"> {{ stats.length }}/{{ stats.length_max }} мм</label></li>
                        </ul>
                    </div>
                </form>
            </div>
            <!-- Статиксика -->
            <div class="con-statistica">
                <form action="">
                    <div class="position-statistica">
                        <div class="header-con">Общая статистика:</div>
                        <ul class="position-list">
                            <li>Занято дорожек:<label for="" id="tracksToday"> {{ all_stats.tracks }} шт</label></li>
                            <li>Изготовления:<label for="" id="tiles"> {{ all_stats.plates }} плит</label></li>
                            <li>Занято:<label for="" id="occupiedMM"> {{ all_stats.useful }} %</label></li>
                            <li>Количество переналадок:<label for=""
                                                              id="occupiedMM"> {{ all_stats.retool_count }} шт</label></li>
                            <li>Стоимость:<label for=""
                                                 id="occupiedMM"> {{ all_stats.all_cost }} р</label></li>
	                        {% if unplaced_plates|length > 0 %}
		                        <li style="color: #ff5151; cursor: pointer">
                                <a id="ordersAndRemaindersStat">Неразмещенные плиты:<label for=""
                                                                                           id="occupiedMM"> {{ unplaced_plates|length }} шт</label>
                                </a>
                                </li>
	                        {% endif %}
                        </ul>
                    </div>
                </form>
            </div>
            <!-- Рассчет -->
            <div class="con-payment-mode">
                <form style="width: 300px" id="mainForm" action="{% url 'fetch_production_plan' %}" method="post">
                    {% csrf_token %}
                    <div class="header-con payment-header">
                        Выберите режим расчетов
                    </div>
                    {% csrf_token %}
                    <div>
                        <div class="style-btn-radio">
                            <input {% if parameters.last_used_mode == 0 %} checked {% endif %}
                                                                           type="radio"
                                                                           id="minCost"
                                                                           value="1"
                                                                           name="option">
                            <label for="minCost">Минимальная стоимость</label>
                        </div>
                        <div class="style-btn-radio">
                            <input {% if parameters.last_used_mode == 1 %} checked {% endif %} type="radio"
                                                                           id="maxCompletion" value="2" name="option">
                            <label for="maxCompletion">Максимальное заполнение</label>
                        </div>
                        <div class="style-btn-radio">
                            <input {% if parameters.last_used_mode == 2 %} checked {% endif %} type="radio"
                                                                           id="minMixing" value="3" name="option">
                            <label for="minMixing">Минимальное смешивания</label>
                        </div>
                        <div class="style-btn-radio">
                            <input {% if parameters.last_used_mode == 3 %} checked {% endif %} type="radio"
                                                                           id="minReadjustments" value="4"
                                                                           name="option">
                            <label for="minReadjustments">Минимальные переналадки</label>
                        </div>
                    </div>

                    <div class="position-btn-payment">
                        <button class="style-btn-payment">Рассчитать</button>
                    </div>
                </form>
            </div>
        </div>
    </header>
    <section class="position-pages">
        <!-- Кнопки -->
        <div class="position-btn-pages">
            <div class="con-btn-pages">
                <button type="button" id="track" class="style-btn-pages active" data-target="trackAvailabilitySection">
                    Доступность <br> дорожек
                </button>
            </div>
            <div class="con-btn-pages">
                <button type="button" id="ordersAndRemainders" class="style-btn-pages style-order "
                        data-target="ordersAndRemaindersSection">Остатки и <br> заказы
                </button>
            </div>
            <div class="con-btn-pages">
                <button type="button" id="parametrs" class="style-btn-pages style-paremetrs"
                        data-target="parametersSection">Параметры <br> стоимости
                </button>
            </div>
        </div>
        <!-- Секция дорожек -->
        <section class="tracks section hidden" id="trackAvailabilitySection">
            <div class="heading-tracks">
                Сколько дорожек занять:
            </div>
            <div class="position-table">
                    <table id="dynamicTable1" style="width: 30px; height: 1371px">
                        <thead style="height: 130px">
	                        <tr id="headerRow">
	                            <th>
	                                <div></div>
	                            </th>
	                        </tr>
                        </thead>
                        <tbody id="tracksBody">

                        {% for table_row in table_data %}
	                        <tr>
                                <th class="style-traks-row" {% if forloop.last %}style="height: 115px" {% endif %}>
                                    <b>Дорожка {{ forloop.counter }}
                                        <br>
	                                    {% if forloop.last %}РЕЗЕРВ{% endif %}
                                    </b>
                                </th>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <div style="overflow-x: scroll; padding-bottom: 5px">
	                    <table id="dynamicTable" style="width: 90%">
	                        <thead style="height: 130px">
	                        <tr id="headerRow">
	                            {% for track in available_tracks %}
		                            <th style="height: 115px;">
	                                    <div>
	                                        <div class="con-bnt-table">
	                                            <label for="numberTracks-{{ forloop.counter }}">Дорожек:</label>
	                                            <input id="numberTracks-{{ forloop.counter }}"
	                                                   data-id="{{ forloop.counter }}"
	                                                   class="track-input"
	                                                   onchange="this.value = Math.max(0, Math.min(7, parseInt(this.value) || 0))"
	                                                   type="number"
	                                                   step="1"
	                                                   min='0'
	                                                   max='7'
	                                                   value="{{ track.count }}">
{#	                                            #}

{#	                                            <div id="numberTracks-{{ forloop.counter }}"><b>{{ track.count }}</b></div>#}
{#	                                            <button day="{{ forloop.counter }}" class="style-btn-down track-dropdown-btn" type="button">#}
{#	                                                <img class="style-icon-down" src="/static/calculation/img/down.png"#}
{#	                                                     alt="">#}
{#	                                            </button>#}
{##}
{#	                                            <div day="{{ forloop.counter }}" id="tracksDropdown-{{ forloop.counter }}"#}
{#	                                                 class="dropdown-content"#}
{#	                                                 style="display: none;">#}
{#	                                                 {% for t in '1234567' %}#}
{#		                                                <a href="#" data-value="{{ forloop.counter }}">Дорожек: {{ forloop.counter }}</a>#}
{#	                                                {% endfor %}#}
{#	                                            </div>#}
	                                        </div>
	                                        <div class="style-date-table" id="date-tracks">{{ track.date }}</div>
	                                        <div>
	                                            <button {% if track.retooling_info.count|default:0 == 0 %}disabled{% endif %}
	                                                    id="style-Readjustments-btn-{{ track.id }}"
	                                                    class="style-Readjustments-btn" type="button">
	                                                {% if track.retooling_info.count|default:0 > 0 %}
		                                                <div>Кол-во переналадок:</div>
		                                                <div id="numberReadjustments">{{ track.retooling_info.count|default:'0' }}</div>
		                                                <div class="con-img-Readjustments">
		                                                    <img class="style-img-i"
		                                                         src="/static/calculation/img/icon.png"
		                                                         alt="">
		                                                </div>
	                                                {% else %}
		                                                <div>Нет переналадок</div>
	                                                {% endif %}
	                                            </button>
		                                        {% if track.retooling_info.count|default:0 > 0 %}
			                                        <!-- Модальное окно -->
			                                        <div id="myModal-{{ track.id }}" class="modal">
		                                                <div class="modal-content">
		                                                    <div class="heder-modal">
			                                                    <h5>{{ track.date }}</h5>
		                                                    </div>
		                                                    <div class="positi">
		                                                        <table class="modal-table">
		                                                            <tr class="position-text">
		                                                                <th>№</th>
		                                                                <th>Ширина, мм</th>
		                                                                <th>Высота, мм</th>
		                                                            </tr>
			                                                        {% with track.retooling_info.changes.all.0 as start_day %}
				                                                        <tr class="position-text">
		                                                                    <td>Начало дня</td>
		                                                                    <td>{{ start_day.from_width }}</td>
		                                                                    <td>{{ start_day.from_height }}</td>
		                                                                </tr>
			                                                        {% endwith %}
			                                                        {% for changes in track.retooling_info.changes.all %}
				                                                        <tr class="position-text">
		                                                                    <td>Переналадка {{ forloop.counter }}</td>
		                                                                    <td>{{ changes.to_width }}</td>
		                                                                    <td>{{ changes.to_height }}</td>
		                                                                </tr>
			                                                        {% endfor %}
		                                                        </table>
		                                                    </div>
		                                                </div>
		                                            </div>
		                                        {% endif %}


	                                        </div>
	                                    </div>
	                                </th>
	                            {% endfor %}
	                        </tr>

	                        </thead>
	                        <tbody id="tracksBody">

	                        {% for table_row in table_data %}
		                        <tr>

	                                {% for table_cell in table_row %}

		                                {% if table_cell and table_cell.width %}
			                                <td style="background-color: {% if table_cell.has_overdue_deadline %}rgb(255, 150, 150){% else %}rgb(171, 233, 190){% endif %};">
	                                            <div class="position-info">
	                                                <div>Ширина: {{ table_cell.width }} мм.</div>
	                                                <div>Высота: {{ table_cell.height }} мм</div>
	                                                <div>Проволока Верх: {{ table_cell.wire_top }} шт</div>
	                                                <div>Проволока Низ: {{ table_cell.wire_bottom }} шт</div>
	                                                <div>Бетон: {{ table_cell.concrete_class }}</div>
	                                                {% if table_cell.has_overdue_deadline %}
	                                                <div style="color: red; font-weight: bold;">Просрочен дедлайн!</div>
	                                                {% endif %}
	                                            </div>
	                                            <div class="position-remains">
	                                            Занято: {{ table_cell.useful_len }} мм
	                                            <br>
		                                            {% if table_cell.free_len > 2500 %}
			                                            <b style="font-weight: bolder">Остаток: {{ table_cell.free_len }} мм</b>
		                                            {% else %}
	                                                    Остаток: {{ table_cell.free_len }} мм
		                                            {% endif %}
	                                            </div>
	                                        </td>
		                                {% elif table_cell.free_len %}
			                                <td style="background-color: rgb(255, 241, 183)">
	                                            <div class="position-info">
	                                            </div>
	                                            <div class="position-remains">
		                                            {% if table_cell.free_len > 2500 %}
			                                            <b style="font-weight: bolder">Остаток: {{ table_cell.free_len }} мм</b>
		                                            {% else %}
			                                            Остаток: {{ table_cell.free_len }} мм
		                                            {% endif %}
	                                            </div>
	                                        </td>
		                                {% else %}
			                                <td style="background-color: rgb(255, 193, 193, 0.2)">
	                                            <div class="position-info">
	                                            </div>
	                                            <div class="position-remains"></div>

	                                        </td>
		                                {% endif %}
	                                {% endfor %}
	                            </tr>
	                        {% endfor %}
	                        </tbody>
	                    </table>
                    </div>
            </div>
        </section>
        <!-- Секция заказов и остатков -->
        <section class="balances-and-orders section hidden" id="ordersAndRemaindersSection">
            <div style="margin-top: 20px" class="heading-tracks">Заказы</div>
            <div id="ordersTableContainer" style="width: 95%;">
                <table class="custom-table" style="width: 100%;">
                    <thead>
                    <tr class="position-text">
                        <th>Номер заказа</th>
                        <th>Наименование</th>
                        <th>Длина, мм</th>
                        <th>Ширина, мм</th>
                        <th>Высота, мм</th>
                        <th>Нагрузка</th>
                        <th>Класс бетона</th>
                        <th>Проволока верх, шт</th>
                        <th>Проволока низ, шт</th>
                        <th>Количество, шт</th>
                        <th>Дедлайн по заказу</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for order in orders %}
	                    <tr class="position-text" {% if order.is_overdue %}style="background-color: rgb(255, 150, 150);"{% endif %}>
                            <td>{{ order.order_number }}</td>
                            <td>{{ order.product.clean_name }}</td>
                            <td>{{ order.product.length }}</td>
                            <td>{{ order.product.width }}</td>
                            <td>{{ order.product.height }}</td>
                            <td>{{ order.product.capacity }}</td>
                            <td>{{ order.product.concrete_class }}</td>
                            <td>{{ order.product.wire_top }}</td>
                            <td>{{ order.product.wire_bottom }}</td>
                            <td>{{ order.count }}</td>
                            <td {% if order.is_overdue %}style="color: red; font-weight: bold;"{% endif %}>{{ order.deadline|date:"d.m.Y" }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

            <div style="margin-top: 20px" class="heading-tracks">Использованные в заказах остатки</div>
	        {% if used_ready_plates|length > 0 %}
		        <div id="remaindersTableContainer">
	                <table class="custom-table">
	                    <thead>
	                    <tr class="position-text">
	                        <th>Заказ</th>
	                        <th>Наименование</th>
	                        <th>Длина, мм</th>
	                        <th>Ширина, мм</th>
	                        <th>Высота, мм</th>
	                        <th>Нагрузка</th>
	                        <th>Класс бетона</th>
	                        <th>Проволока верх, шт</th>
	                        <th>Проволока низ, шт</th>
	                        <th>Количество, шт</th>
	                    </tr>
	                    </thead>
	                    <tbody>
	                    {% for item in used_ready_plates %}
		                    <tr class="position-text">
	                            <td>{{ item.order }}</td>
	                            <td>{{ item.clean_name }}</td>
	                            <td>{{ item.length }}</td>
	                            <td>{{ item.width }}</td>
	                            <td>{{ item.height }}</td>
	                            <td>{{ item.capacity }}</td>
	                            <td>{{ item.concrete_class }}</td>
	                            <td>{{ item.wire_top }}</td>
	                            <td>{{ item.wire_bottom }}</td>
	                            <td>{{ item.count }}</td>
	                        </tr>
	                    {% endfor %}
	                    </tbody>
	                </table>
	            </div>
	        {% else %}
		        <p style="margin-left: 20px">Отсутствуют</p>
	        {% endif %}


	        <div style="margin-top: 20px" class="heading-tracks">Остатки</div>
	        {% if inventory|length > 0 %}
		        <div id="remaindersTableContainer">
	                <table class="custom-table">
	                    <thead>
	                    <tr class="position-text">
	                        <th>Наименование</th>
	                        <th>Длина, мм</th>
	                        <th>Ширина, мм</th>
	                        <th>Высота, мм</th>
	                        <th>Нагрузка</th>
	                        <th>Класс бетона</th>
	                        <th>Проволока верх, шт</th>
	                        <th>Проволока низ, шт</th>
	                        <th>Количество, шт</th>
	                    </tr>
	                    </thead>
	                    <tbody>
	                    {% for item in inventory %}
		                    <tr class="position-text">
	                            <td>{{ item.product.clean_name }}</td>
	                            <td>{{ item.product.length }}</td>
	                            <td>{{ item.product.width }}</td>
	                            <td>{{ item.product.height }}</td>
	                            <td>{{ item.product.capacity }}</td>
	                            <td>{{ item.product.concrete_class }}</td>
	                            <td>{{ item.product.wire_top }}</td>
	                            <td>{{ item.product.wire_bottom }}</td>
	                            <td>{{ item.count }}</td>
	                        </tr>
	                    {% endfor %}
	                    </tbody>
	                </table>
	            </div>
	        {% else %}
		        <p style="margin-left: 20px">Отсутствуют</p>
	        {% endif %}

	        <div style="margin-top: 20px" class="heading-tracks">Неразмещенные плиты</div>
	        {% if unplaced_plates|length > 0 %}
		        <div id="remaindersTableContainer">
	                <table class="custom-table">
	                    <thead>
	                    <tr class="position-text">
	                        <th>Наименование</th>
	                        <th>Длина, мм</th>
	                        <th>Ширина, мм</th>
	                        <th>Высота, мм</th>
	                        <th>Нагрузка</th>
	                        <th>Класс бетона</th>
	                        <th>Проволока верх, шт</th>
	                        <th>Проволока низ, шт</th>
	                        <th>Количество, шт</th>
	                    </tr>
	                    </thead>
	                    <tbody>
	                    {% for item in unplaced_plates %}
		                    <tr class="position-text">
	                            <td>{{ item.clean_name }}</td>
	                            <td>{{ item.length }}</td>
	                            <td>{{ item.width }}</td>
	                            <td>{{ item.height }}</td>
	                            <td>{{ item.capacity }}</td>
	                            <td>{{ item.concrete_class }}</td>
	                            <td>{{ item.wire_top }}</td>
	                            <td>{{ item.wire_bottom }}</td>
	                            <td>{{ item.count }}</td>
	                        </tr>
	                    {% endfor %}
	                    </tbody>
	                </table>
                </div>
	        {% else %}
		        <p style="margin-left: 20px">Отсутствуют</p>
	        {% endif %}
        </section>
        <!-- Секция параметров и стоимости -->
        <section id="parametersSection" class="section hidden">
            <div class="heading-tracks">Cтоимость</div>
            <div id="pricesContainer">
                <table class="custom-table">
                    <thead>
                    <tr>
                        <th>Наименование</th>
                        <th>Цена</th>
                        <th>Ед.изм.</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for price_row in price_table_data %}
	                    <tr>
                            <td>{{ price_row.name }}</td>
                            <td>{{ price_row.price }}</td>
                            <td>₽ за 1 {{ price_row.unit_name }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="heading-tracks">Парамерты</div>
            <div id="trackContainer">
                <table class="custom-table">
                    <thead>
                    <tr>
                        <th></th>
                        <th>Размер</th>
                        <th>Ед.изм.</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Длина дорожки</td>
                        <td>{{ parameters.road_length }}</td>
                        <td>мм</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </section>
    </section>

</div>
</body>
<script>

	// Wait for DOM to load before accessing elements

	{% for track in available_tracks %}
		// Модальное окно
		document.addEventListener("DOMContentLoaded", function () {
			const modal = document.getElementById("myModal-{{ track.id }}");
			const btn = document.getElementById("style-Readjustments-btn-{{ track.id }}");
			const span = document.getElementById("close-{{ track.id }}");
			btn.addEventListener("click", function () {
				modal.style.display = "block";
			});
			span?.addEventListener("click", function () {
				modal.style.display = "none";
			});

			window.addEventListener("click", function (event) {
				if (event.target === modal) {
					modal.style.display = "none";
				}
			});
		});
	{% endfor %}
</script>

	<!-- Логика работы кнопок -->
<script src="{% static 'calculation/js/btn_page.js' %}"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<script>

	document.addEventListener('DOMContentLoaded', function () {
		$('#mainForm').on('submit', async function (e) {
			e.preventDefault();
			$('.loader').show()
			$('.position-screen').css('opacity', '0.5')
			$('.position-screen').css('pointer-events', 'none')

			const formData = new FormData(this);

			// Добавляем/изменяем данные
			const tracksInputs = document.querySelectorAll('.track-input');
			let tracksData = []

			tracksInputs.forEach(input => {
				const dataId = input.getAttribute('data-id');
				if (dataId) {
					tracksData.push(input.value)
				}
			});

			formData.append('tracks', tracksData);

			try {
				const response = await fetch(this.action, {
					method: 'POST',
					body: formData,
				});

				if (response.ok) {
					// Перенаправляем на ту же страницу (имитация стандартной отправки)
					window.location.href = window.location.href;
				} else {
					alert('Ошибка сервера');
				}
			}
			catch (error) {
				alert('Ошибка сети');
			}
		});


		// Получаем элементы input
		const dateFrom = document.getElementById('dateTracksFrom');

		// Функция для обновления URL с новыми параметрами дат
		function updateDates() {
			const params = new URLSearchParams(window.location.search);

			// Обновляем параметры с выбранными датами
			params.set('date_from', dateFrom.value);

			// Перезагружаем страницу с новыми параметрами
			window.location.search = params.toString();
		}

		// Добавляем обработчики событий
		dateFrom.addEventListener('change', updateDates);

		// Устанавливаем начальные значения из GET-параметров, если они есть
		const urlParams = new URLSearchParams(window.location.search);
		if (urlParams.has('date_from')) {
			dateFrom.value = urlParams.get('date_from');
		}
	});
</script>
</html>
